<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>今日の勉強</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body ng-app>
    <input ng-paste="paste=true" ng-init="paste=false" placeholder='paste here'>pasted: {{paste}}<br>
    <input ng-copy="copied=true" ng-init="copied=false; copyvalue='copy me'" ng-model="copyvalue">copied: {{copied}}<br>
    <input ng-cut="cut=true" ng-init="cut=false; cutvalue='cut me'" ng-model="cutvalue">cut: {{cut}}<br>
    <script src="bower_components/angular/angular.js"></script>
  </body>
</html>

